src/flows.json
[    
    {
        "id": "4b334475.bfe194",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "876ce3c9.2b908",
        "type": "function",
        "z": "4b334475.bfe194",
        "name": "",
        "func": "\"use strict\";\nlet expr = msg.payload.expr;\n\nfunction processor(data){\n    if(data.length == 0 || data.length <3)\n        throw \"Error\";\n    return(dispatcher(data[0],data[1],data.slice(2)))\n}\n\nfunction dispatcher( arg, operation, data){\n    switch(operation){\n        case \"+\": return (calcSum(arg, data));\n        case \"-\": return (calcMin(arg, data));\n        case \"*\": return (calcMul(arg, data));\n        case \"/\": return (calcDiv(arg, data));\n        default: throw \"Error\";\n    }\n    \n}\n\nfunction calcSum(arg,data){\n    if(data.length == 1) return(arg*1.0 + data[0]*1.0);\n    else \n      if(data.length >2) return(arg*1.0 + dispatcher(data[0], data[1], data.slice(2)));\n      else throw 'Error';\n}\n\nfunction calcMin(arg,data){\n    if(data.length == 1) return(arg*1.0 - data[0]*1.0);\n    else \n      if(data.length >2) return(arg*1.0 - dispatcher(data[0], data[1], data.slice(2)));\n      else throw 'Error';\n}\n\nfunction calcMul(arg, data){\n    if(data.length == 1) return(arg * data[0]);\n    else \n      if(data.length >2) return(dispatcher(arg*data[0], data[1], data.slice(2)));\n      else throw 'Error';\n}\n\nfunction calcDiv(arg, data){\n    if(data.length == 1) \n      if(data[0]*1.0 == 0) throw \"Zerro divide\";\n      else return(arg/data[0]);\n    else \n      if(data.length >2) return(dispatcher(arg/data[0], data[1], data.slice(2)));\n      else throw 'Error';\n}\n\n    try {\n\n         msg.payload = { result: processor(expr)};\n        \n    }\n    catch(e){\n        console.error(e);\n    }\nmsg.statusCode = 200;\nmsg.headers = {};\nmsg.headers['Content-Type'] = \"application/json\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "fac96979.d2d5b",
                "7f78b7d2.d909c8"
            ]
        ]
    },
    {
        "id": "13978421.c034dc",
        "type": "inject",
        "z": "4b334475.bfe194",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"expr\":[\"1\",\"+\",\"1\"]}",
        "payloadType": "json",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "876ce3c9.2b908"
            ]
        ]
    },
    {
        "id": "3123bfbc.3b572",
        "type": "http in",
        "z": "4b334475.bfe194",
        "name": "",
        "url": "/incoming",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "876ce3c9.2b908",
                "4118ba53.b3b50c"
            ]
        ]
    },
    {
        "id": "7f78b7d2.d909c8",
        "type": "http response",
        "z": "4b334475.bfe194",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "fac96979.d2d5b",
        "type": "debug",
        "z": "4b334475.bfe194",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "4118ba53.b3b50c",
        "type": "debug",
        "z": "4b334475.bfe194",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "ac40fb4c.a2f6e",
        "type": "inject",
        "z": "4b334475.bfe194",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "5687b327.b8c35c"
            ]
        ]
    },
    {
        "id": "5687b327.b8c35c",
        "type": "function",
        "z": "4b334475.bfe194",
        "name": "",
        "func": "let re = /^(\\d|\\s|\\+|\\*|-|\\/|\\.|\\(|\\)){0,}$/;\nlet ru = /^(\\d|\\+|\\*|-|\\/|\\.|\\(|\\)){0,}$/\nlet str = \"1+1 *r 5+ 3\"\nlet dd = re.exec(str);\n\nlet re2 = /\\s{1,}/ig;\nlet str2 = \" 1 +4 -    6 * 8 +0\"\nlet rr = str2.replace(re2,'');\nconst re3 = /(\\+|-|\\*|\\/|\\.){2,}/;\nlet str3 = \"33+3-g\";\n//let ss = re3.exec(str3);\nlet ss = ru.exec(str3);\nmsg.payload = ss;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "4118ba53.b3b50c"
            ]
        ]
    },
    {
        "id": "d6e3f1af.4b4ea",
        "type": "inject",
        "z": "4b334475.bfe194",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 440,
        "wires": [
            [
                "492632c5.9cb1f4"
            ]
        ]
    },
    {
        "id": "492632c5.9cb1f4",
        "type": "function",
        "z": "4b334475.bfe194",
        "name": "",
        "func": "const incoming = \"11-32\";\n            let tokensArray = [];\n            let curToken = '';\n            for(let i = 0; i < incoming.length; i++){\n              switch(incoming[i]){\n                case \"+\": case \"-\": case \"\\\\\": case \"*\":\n                  tokensArray.push(curToken);\n                  tokensArray.push(incoming[i]);\n                  curToken = '';\n                  break;\n                default: curToken += incoming[i];\n              }\n            }\n            msg.payload = JSON.stringify(tokensArray);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "4118ba53.b3b50c"
            ]
        ]
    }
]
